<form action="/<%= beer.id %>" method="POST">
  <input type="text" name="name" placeholder="Enter a name" value="<%= beer.title %>" required>
  <input type="text" name="tagline" placeholder="Enter a tagline (if you'd like)" value="<%= beer.tagline %>">
  <textarea name="description" required> <%= beer.description %> </textarea>
  <input type="number" name="abv" value="<%= beer.abv %>" min="0" max="100" required>

  <input type="text" name="image_url" placeholder="Enter a URL for an for the beer " value="<%= beer.image_url %>" required>

  <input type="submit" value="Save beer entry">
  <% if(beer.id != "") { %>
  	<input type="hidden" name="_method" value="PUT">
  <% } %>
</form>