<img src="<%= beer.image_url %>">
<h2><%= beer.name %></h3>
<p><%= beer.tagline %></p>
<p><%= beer.abv %></p>
<p><%= beer.description %></p>
<div class="button-section">
	<button class="btn btn-secondary btn-lg likeButton" data-id="<%= beer._id %>">Drink</button>
</div>